# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
- pandas
- NumPy
- Scikit-learn

TABLE
| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python.

Arithmetic expressions are fundamental in programming and are used to perform mathematical operations. Here are some examples:

1. Addition:

result = 10 + 5
print("Result of addition:", result)

2.  Subtraction:

result = 20 - 8 
print("Result of subtraction:", result)

3.  Multiplication:

result = 5 * 6
print("Result of multiplication:", result)

4.  Division:

result = 15 / 3
print("Result of division:", result)

In [3]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print("Result:", result)

Result: 17

In [4]:
 #This will convert 200 minutes to hours by diving by 60

minutes= 200
hours= minutes/60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Introduce common libraries used in Data Science.
- Demonstrate arithmetic expression examples in Python.
- Convert minutes to hours using Python code.
- Explore key concepts in Data Science tools and ecosystem.

## Author
Vatsal Vaghasiya